.App {
  text-align: center;
}
input{
  padding: 2px;
  margin-right: 8px;
  }
 ul{
  list-style: decimal;
  list-style-position: inside;
 } 
 li{
  margin: 20px 0;
 }
del{
  font-size: 10px;
  margin-left: 8px;
  border:none;
  color: beige;
  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}